In [75]:
import pandas as pd
import numpy as np

In [76]:
df =pd.read_csv('products_bottles_details.csv')

In [83]:
df.price = df.price.str.replace(',','')
df.price = df.price.str.strip()
prices=df[df.price.astype(float)>0]

In [100]:
out=df.loc[df.price.astype(float).idxmin()]

In [103]:
for item in out.items():
    print(item)

('title', 'Milton Kool Spark 400 Plastic School Water Bottle, 370ml, Blue')
('price', '145.0')
('reviews', 42.0)
('rating', 3.7)
('company', 'MILTON')
('customerreviews', '3.7 out of 5 stars')
('link', 'https://www.amazon.in/dp/B01LXYA801/ref=sxbs_sxwds-deals_5/258-7013734-4049625?pf_rd_p=ace0ad48-bfaf-4290-94f6-b92e826f3fb1&pd_rd_wg=xNroz&pf_rd_r=ZQSW02J8CAH6Y7MP9AKM&pd_rd_i=B01LXYA801&pd_rd_w=tZpOv&pd_rd_r=986c008a-0519-4a86-9229-0ef71ae81fde&ie=UTF8&qid=1551610538&sr=5')

In [74]:
out

title              Henry Coleman Umgeben Collection Amber Silver ...
price                                                            NaN
reviews                                                            1
rating                                                             5
company                                                Henry Coleman
customerreviews                                   5.0 out of 5 stars
link               https://www.amazon.in/Henry-Coleman-Umgeben-Co...
Name: 20, dtype: object

In [38]:
pd.DataFrame(out.to_dict(),index=[0])

,company,customerreviews,link,price,rating,reviews,title
0,Puro,3.2 out of 5 stars,https://www.amazon.in/Puro-5-1-Multipurpose-Pe...,165.0,3.2,410.0,Puro 5 In 1 Multipurpose Pen

In [92]:
product1={'title':prices['title'],'link':prices['link']}

In [93]:
prices=prices.loc[prices.price.astype(float).idxmin()]

AttributeError: 'str' object has no attribute 'astype'

In [94]:
product1

{'link': 'https://www.amazon.in/dp/B01LXYA801/ref=sxbs_sxwds-deals_5/258-7013734-4049625?pf_rd_p=ace0ad48-bfaf-4290-94f6-b92e826f3fb1&pd_rd_wg=xNroz&pf_rd_r=ZQSW02J8CAH6Y7MP9AKM&pd_rd_i=B01LXYA801&pd_rd_w=tZpOv&pd_rd_r=986c008a-0519-4a86-9229-0ef71ae81fde&ie=UTF8&qid=1551610538&sr=5',
 'title': 'Milton Kool Spark 400 Plastic School Water Bottle, 370ml, Blue'}